body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Rubik', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
iframe {
    margin-top: 120px;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
a {
    color: #42dca3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}
.light {
    font-weight: 400;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}
.navbar-custom .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand:focus {
    outline: none;
}
/* .navbar-brand > .fa-rocket{
    padding: 5px;
} */
.navbar-custom a {
    color: white;
}
.navbar-custom .nav li a {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: none;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
    color: white;
}
.content-section {
    padding-top: 0px;
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out,
            padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/missions_bg_image.jpg)
        no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 40px;
}
.intro .intro-body .intro-text {
    font-size: 18px;
}
@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.content-section {
    padding-top: 100px;
    height: 100vh;
    display: table;
}
.content-section > .row {
    display: table-cell;
    vertical-align: middle;
}
.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/download-bg.jpg) no-repeat
        center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.lessons-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/lessons-min.jpg) no-repeat
        center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.lessons-censored {
    background: url(../img/censored.jpg) no-repeat
        center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.contact-section {
    width: 100%;
    background: url(../img/contact-bg.jpg) no-repeat
        center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media (min-width: 767px) {
    .content-section {
        /* padding-top: 250px; */
    }
    .download-section {
        padding: 100px 0;
    }
}
.btn {
    text-transform: uppercase;
    font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}
.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: none;
    color: black;
    background-color: #42dca3;
}
ul.banner-social-buttons {
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
footer {
    padding: 25px 0;
}
footer p {
    margin: 0;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.yoptaBlur {
    -webkit-filter: blur(0.05%);
    filter: blur(1px);
    -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.yoptaBlur:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

pre {
    padding: 8px;
    margin: 0 -10px 10px;
}

textarea {
    font-size: 18px;
    width: 100%;
    min-height: 300px;
    color: #b88a5d;
    background-color: #2a2a2a;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
}

@media only screen and (max-width: 992px) {
    .np {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 425px) {
    pre {
        font-size: 11px;
        width: 96.8vw;
    }
}
